.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,body{
  width: 100vw;
  height: 100vh;
}
body{
  background-color: #4B727A; 
}


/**************************************Login *********************************************/

.mylogin{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 300px;
}
.loginForm{
  width: 100%;
  height: 100%;
}
#signInForm{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.myinput{
  background-color: #F8B189;
  width: calc(40% + 120px);
  height: 40px;
  border: 0px black;
  margin: auto;
}
#signInButton{
  background-color: #67DCB2;
  width: 136px;
  height: 50px;
  margin: auto;
}
#signInButton:hover{
  cursor: pointer;
}

/**********************************Main Page ***************************************/

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}
.left-container,.right-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
  row-gap: 35px;
}
.btn-lg{
  background-color: #F8B189;
  width: 350px;
  height: 70px;
  padding: 20px;
  border: 0px;
  font-size: 20px;
}
.btn-lg:hover{
  cursor: pointer;
}
/********************************** SignUp page **************************/
.signUp{
  width: 100vw;
  height: 100vh;

}
#signUpButton{
  background-color: #67DCB2;
  width: 136px;
  height: 50px;
  margin: auto;
}
#signUpButton:hover{
  cursor: pointer;
}
.signUp .myinput{
  background-color: #F8B189;
  width: calc(40% + 120px);
  height: 50px;
  border: 0px black;
  margin: auto;
}
#signUpForm{
  width: 45vw;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

/************************************ List Students *****************************/

.listStudents{
  width: 100vw;
  height: 100vh;
}
#backButton{
  width: 100px;
  height: 40px;
  border-radius: 50px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: 15px;
}
.listContainer{
  width: 65vw;
  height: 100vh;
  background-color: #F8B189;
  margin: auto;
  padding-top: 15px;
  border-radius: 20px;
}
.columnNames{
  width: 95%;
  border-radius: 40px;
  height: 30px;
  display: flex;
  flex-grow: column;
  justify-content: space-around;
  margin: auto;
  background-color: #C4C4C4;
}
.Entry{
  display: flex;
  flex-grow: column;
  justify-content: space-around;
  width: 95%;
  height: 35px;
  margin: auto;
  border: 1px solid black;
  margin-top: 5px;
}
.listContainer p{
  width: 100px;
  text-align: center;
}
.Entry p{
  width: 100px;
  line-height: 35px;
}

/****************************************** deleteStudent page **************************/

.deleteForm{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 180px;
}

#deleteButton{
  background-color: #67DCB2;
  width: 136px;
  height: 50px;
  margin: auto;
}
#deleteButton{
  cursor: pointer;
}
#deleteForm input{
  margin: auto;
  display: block;
}
#deleteForm .myinput{
  width:calc(50% + 90px);
  margin-bottom: 15px;
}

/******************************** EnrollForCourse page **************************/
.EnrollInCourse{
  width: 100vw;
  height: 100vh;

}
#enrollButton{
  background-color: #67DCB2;
  width: 136px;
  height: 50px;
  margin: 20px;
}
#enrollButton:hover{
  cursor: pointer;
}
#enrollForm{
  width: 45vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
#enrollForm .myinput{
  background-color: #F8B189;
  width: calc(40% + 120px);
  height: 40px;
  border: 0px black;
  margin: 20px;
}
#enrollForm .dropdown{
  width: calc(40% + 120px);
  height: 40px;
}

#enrollForm .form-select{
  width:calc(40% + 120px);
  height: 40px;
  margin:20px;
}

#enrollForm #courseSelection{
  width:calc(40% + 120px);
  height: 40px;
  margin: 20px;

}
/******************************** listBranches page **************************/
.listBranches{
  width: 100vw;
  height: 100vh;
}

.listBranches .listContainer p{
  width: 150px;
  text-align: center;
}
.listBranches .Entry p{
  width: 150px;
  line-height: 35px;
}
.listBranches marquee{
  width: 150px;
  position: relative;
}
.listBranches marquee:hover{
  cursor: pointer;
}

.listBranches .popup{
  background-color: #ffffff;
  width: 420px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
  font-family: "Poppins",sans-serif;
  text-align: center;
}

.listBranches .popup button{
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #ffffff;
  background: #F8B189;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
.listBranches .popup h2{
margin-top: -20px;
}
.listBranches .popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}

/*************************************** installment page ********************************/

.installmentForm{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 180px;
}

#installmentButton{
  background-color: #67DCB2;
  width: 136px;
  height: 50px;
  margin: auto;
  cursor: pointer;
}

#installmentForm input{
  margin: auto;
  display: block;
}
#installmentForm .myinput{
  width:calc(50% + 90px);
  margin-bottom: 15px;
}

